$min-tablet: 701px;
$max-tablet: 1600px;

$min-phone: 371px;
$max-phone: 700px;

$mini-phone: 300px;
$maxi-phone: 370px;

$laptop: 1025px;
@mixin tablet {
  @media only screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    @content;
  }
}

@mixin phone {
  @media only screen and (min-width: $min-phone) and (max-width: $max-phone) {
    @content;
  }
}

@mixin mini-phone {
  @media only screen and (min-width: $mini-phone) and (max-width: $maxi-phone) {
    @content;
  }
}

@mixin laptop {
  @media only screen and (min-width: $laptop) {
    @content;
  }
}
