$font-maintitle: "OpenSansLigt", sans-serif;
$font-text: "OpenSansLigt", sans-serif;
$font-logo: "OpenSansBold", sans-serif;
$font-secondary: "Raleway", sans-serif;

/*colors*/

$primary-color: #5d7967;
$main-title-color: #424242;
$text-color: #424242;
$link-color: black;
$button-text-color: white;
