@import "../utils/break-points";
footer {
  width: 100%;
  background-color: black;
  border-bottom: 0.2rem solid white;
  margin-top: 15px;
  ul {
    display: flex;
    align-items: center;
    @include phone {
      flex-direction: column;
    }
    @include mini-phone {
      flex-direction: column;
    }

    li {
      margin-left: auto;
      margin-right: auto;
      @include phone {
        padding-bottom: .9rem;
      }
      @include mini-phone{
        padding-bottom: .9rem;
      }
      a {
        color: rgb(250, 250, 250);
        font-size: 1.1rem;
        &:hover {
          color: #fbb72c;
        }
        img {
          width: 8rem;
        }
      }
    }
  }
}
